

    
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    #root {
        margin: 0px;
        padding: 0px;

        .App {
            margin: 0px;
            padding: 0px;
        }
    }
}