@-webkit-keyframes background-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes background-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@-webkit-keyframes text-animation {
  0% {
    color: #969696;
  }
  50% {
    color: white;
  }
  100% {
    color: #969696;
  }
}

@keyframes text-animation {
  0% {
    color: #969696;
  }
  50% {
    color: white;
  }
  100% {
    color: #969696;
  }
}

@-webkit-keyframes start-animation {
  0% {
    color: #f4f131;
  }
  21% {
    color: #f26439;
  }
  42% {
    color: #3999ee;
  }
  63% {
    color: #f26439;
  }
  83% {
    color: #f4f131;
  }
}

@keyframes start-animation {
  0% {
    color: #f4f131;
  }
  21% {
    color: #f26439;
  }
  42% {
    color: #3999ee;
  }
  63% {
    color: #f26439;
  }
  83% {
    color: #f4f131;
  }
}

@-webkit-keyframes loop-animation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes loop-animation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes global-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes global-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@-webkit-keyframes play-animation {
  0% {
    width: 20px;
    margin-right: 0px;
  }
  50% {
    width: 15px;
    margin-right: 5px;
  }
  100% {
    width: 20px;
    margin-right: 0px;
  }
}

@keyframes play-animation {
  0% {
    width: 20px;
    margin-right: 0px;
  }
  50% {
    width: 15px;
    margin-right: 5px;
  }
  100% {
    width: 20px;
    margin-right: 0px;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body #root {
  margin: 0px;
  padding: 0px;
}

body #root .App {
  margin: 0px;
  padding: 0px;
}

body #root .App #Background {
  -webkit-animation: background-animation 20s ease-in-out infinite;
          animation: background-animation 20s ease-in-out infinite;
}

body #root .App #tuto-text {
  -webkit-animation: text-animation 3s ease-in-out infinite;
          animation: text-animation 3s ease-in-out infinite;
}

body #root .App #start {
  -webkit-animation: start-animation 6s ease-in-out infinite;
          animation: start-animation 6s ease-in-out infinite;
}

body #root .App #global-loop:hover, body #root .App .PlayLoop:hover {
  -webkit-animation: loop-animation 0.382s ease-in-out;
          animation: loop-animation 0.382s ease-in-out;
}

body #root .App .Play:hover {
  -webkit-animation: play-animation 0.382s ease-in-out;
          animation: play-animation 0.382s ease-in-out;
}

body #root .App .Play:active {
  -webkit-animation: play-animation 1.618s ease-in-out;
          animation: play-animation 1.618s ease-in-out;
}
/*# sourceMappingURL=App.css.map */