
@keyframes background-animation {
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;}
}

@keyframes text-animation {
    0% {color: rgb(150, 150, 150)}
    50% {color: white}
    100% {color: rgb(150, 150, 150)}
}

@keyframes start-animation {
    0% {color: rgba(244,241,49,1)}
    21% {color: rgba(242,100,57,1)}
    42% {color: rgba(57,153,238,1)}
    63% {color: rgba(242,100,57,1)}
    83% {color: rgba(244,241,49,1)}
}

@keyframes loop-animation {
    from {transform: rotate(0deg)}
    to {transform: rotate(359deg)}
}

@keyframes global-animation {
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;}
}

@keyframes play-animation {
    0% {width: 20px; margin-right: 0px;}
    50% {width: 15px; margin-right: 5px;}
    100% {width: 20px; margin-right: 0px;}
}
    
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    #root {
        margin: 0px;
        padding: 0px;

        .App {
            margin: 0px;
            padding: 0px;

            #Background {
                animation: background-animation 20s ease-in-out infinite;
            }

            #tuto-text {
                animation: text-animation 3s ease-in-out infinite;
            }

            #start {
                animation: start-animation 6s ease-in-out infinite;
            }

            #global-loop:hover, .PlayLoop:hover {
                animation: loop-animation 0.382s ease-in-out;
            }

            .Play:hover {
                animation: play-animation 0.382s ease-in-out;
            }

            .Play:active {
                animation: play-animation 1.618s ease-in-out;
            }
        }
    }
}